// Specific CSS for your home-page
a {
  color: $primary-brand-color;
  text-decoration: none;
}
.body {
  background-position: center;
  background-image: url("option2.jpg"); 
  background-size: cover;
  background-repeat: no-repeat;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  padding-bottom: 36px;
}
.body h2 {
  text-align: center;
  font-size: 4.6em;
  padding-top: 32px;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, .2);
}
.body h4 {
  margin-left: 32px;
  padding-top: 20px;
  font-size: 1.5rem;
  line-height: 34px;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, .2);
}
.color-orange{
  color: black;
  text-decoration: underline;
}
.container-landing {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.card-landing{
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 150px;
  text-align: center;
}
.card-landing p {
  text-align: center;
  margin-top: 8px;
}
.btn-landing{
  display: flex;
  color: $primary-brand-color;
  background-color: white;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  align-items: center;
  justify-content: center;
  align-self: center;
  box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, .2);
}
.btn-landing i {
  font-size: 2rem;
}