a {
  color: $primary-brand-color;
  text-decoration: none;
}
.body {
  background-position: center;
  background-image: asset-url("option2.jpg"); 
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  padding-bottom: 36px;
}
.body h2 {
  text-align: center;
  font-size: 4em;
  padding-top: 56px;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, .4);
}
.body h4 {
  margin-left: 20px;
  font-size: 1.7rem;
  line-height: 34px;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, .2);
}
.bg-design{
  margin-bottom: 80%;
}
.color-red{
  color: red;
  text-decoration: underline;
}
.container-landing {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.card-landing{
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 150px;
  text-align: center;
  margin-bottom: 40px;
}
.card-landing p {
  text-align: center;
  margin-top: 8px;
}
.btn-landing{
  display: flex;
  color: $primary-brand-color;
  background-color: white;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  align-items: center;
  justify-content: center;
  align-self: center;
  box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, .2);
}
.btn-landing i {
  font-size: 2rem;
}
.btn-padding-left {
  padding-left: 8px;
}

// 320px — 480px: Mobile devices
// 481px — 768px: iPads, Tablets
// 769px — 1024px: Small screens, laptops
// 1025px — 1200px: Desktops, large screens
// 1201px and more —  Extra large screens, TV

// mobile 1
@media (max-width: 375px) {
  .body h2 {
    font-size: 3.5em;
    padding-top: 7%;
  }

  .body h4 {
    padding-top: 5%;
    font-size: 22px;
  }
  .card-landing{
    width: 150px;
    height: 150px;
    text-align: center;
    margin-bottom: 0;
  }
  .btn-landing{
    width: 80px;
    height: 80px;
    align-items: center;
    justify-content: center;
    align-self: center;
    box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, .2);
  }
  .btn-landing i {
    font-size: 1.5rem;
  }
}

// tablets
@media (min-width: 481px) {
  .body h2 {
    font-size: 6em;
    padding-top: 100px;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, .4);
  }
  .body h4 {
    margin-left: 42px;
    padding-top: 36px;
    font-size: 2.5rem;
    line-height: 52px;
  }
  .bg-design {
    margin-bottom: 54%;
  }
}

// ipad Pro
@media (min-width: 1024px) {
  .body h2 {
    font-size: 8em;
  }
  .body h4 {
    padding: 0;
    font-size: 3.3rem;
  }
  .container-landing{
    justify-content: center;
    padding-bottom: 5%;
  }
  .card-landing{
    width: 200px;
    height: 200px;
    text-align: center;
    margin-bottom: 0;
  }
  .btn-landing{
    width: 120px;
    height: 120px;
    align-items: center;
    justify-content: center;
    align-self: center;
    box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, .2);
  }
  .btn-landing i {
    font-size: 3rem;
  }
  .btn-padding-left {
    padding-left: 8px;
  }
  .btn-caption{
    font-size: 1.5rem;
  }
  .btn-mrgn-left{
    margin-left: 25%;
  }
}

// laptops
@media (min-width: 1440px) {
  .body h2 {
    font-size: 10em;
    padding-top: 104px;
  }
  .body h4 {
    text-align: center;
    padding-top: 12px;
    font-size: 3.5rem;
    line-height: 80px;
    margin-left: 0;
    padding-bottom: 0;
  }
  .bg-design {
    margin: 0 28%;
    //width: 30%;
    height: auto;
    background: rgba(0, 0, 0, .5);
    border-radius: 8px;
    margin-top: 3%;
  }
  .container-landing {
    padding-bottom: 0;
  }
  .btn-mrgn-left{
    margin-left: 20%;
  }
}

// desktops
@media (min-width: 1920px) {
  .body h2 {
    font-size: 12rem;
    padding-top: 10%;
  }
  .bg-design {
    margin: 0 32%;
  }
}