<footer>
  <div class="nav-icon-align">
    <div> <%= link_to root_path do%>
      <i class="fas fa-hamburger"></i>
    <% end %></div>
    <div> <%= link_to meals_path do%>
      <div><i class="fas fa-map-marker-alt"></i></div>
    <% end %></div>
    <div> <%= link_to dashboard_path do%>
      <div><i class="fas fa-user-circle"></i></div>
    <% end %></div>
  </div>
</footer>