<div class="loader">
  <p>PLEASE WAIT</p>
  <div class="pic"></div>
  <div class="spinner">
    <i class="fas fa-hamburger fa-spin"></i>
  </div>
  <p></p>
  <p>ANALYZING<br> NUTRITONAL<br> DATA</p>
</div>