<!-- Modal -->
<div class="modal fade show" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="display: block">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Excellent choice!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Would you want to open GoogleMaps to go there ?heork
        <p><%= link_to "Go back to the selection", meals_path %></p>

      </div>
      <div class="modal-footer">
        <p><%= link_to "Yes, please", 'https://www.google.com/maps', :target => "_blank", class: "btn btn-primary"%></p>
        <p><%= link_to "No, thanks", dashboard_path, :target => "_blank", class: "btn btn-secondary"%></p>
        <%# <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button> %>
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop fade show"></div>
