<h1>Welcome to Food on Rails!</h1>
<button data-controller="geolocation">
  <%= link_to "Choose my meals", meals_path %>
</button>
<div>
  <%= link_to "Let me choose preferences first", preferences_path %>
</div>
<form action="" method="get">
  <input type="hidden" value="data-controller">
</form>