<% if @choice&.unrated? %>
  <% "it's inside"%>
  <%= render 'shared/modal_rating',  choice: @choice %>
<% end %>
<div class="body">
  <div>
    <h2>Food on Rails</h2>
    <h4>Healthy Choices<br> For <span class="color-red">Un</span>healthy Situations.</h4>
  </div>
    <div class="container-landing">
      <div class="card-landing">
        <div class="btn-landing">
          <%= link_to meals_path(tag: 'Food') do %>
            <i class="fas fa-utensils"></i><br>
          <% end %>
        </div>
        <p>I'm Hungry</p>
      </div>
      <div class="card-landing">
        <div class="btn-landing btn-padding-left">
          <%= link_to meals_path(tag: 'Drinks') do %>
            <i class="fas fa-mug-hot"></i><br>
          <% end %>
        </div>
        <p>I'm Thirsty</p>
      </div>
    </div>
  </div>
</div>
