<% if @choice&.unrated? %>
  <% "it's inside"%>
  <%# <button type="button" class="btn btn-secondary card-choice-button" data-toggle="modal" data-target="#exampleModal">GO!</button> %>
  <%= render 'shared/modal_rating',  choice: @choice %>
<% end %>

<div class="body">
  <div>
    <h2>Food on Rails</h2>
    <!-- <h4><em> Best of the Worst,<br>Healthy Choices for an<br>Unhealthy Situation</em></h4> -->
    <h4>Healthy Choices<br> For <span class="color-orange">Un</span>healthy Situations.</h4>
  </div>
    <div class="container-landing">
      <div class="card-landing">
        <div class="btn-landing btn-padding-left">
          <%= link_to meals_path(tag: 'Drinks') do %>
            <i class="fas fa-mug-hot"></i><br>
          <% end %>
        </div>
        <p>I'm Thirsty</p>
      </div>

      <div class="card-landing">      
       <!-- <div class="btn btn-secondary"> -->
        <div class="btn-landing">
          <%= link_to meals_path(tag: 'Food') do %>
            <i class="fas fa-utensils"></i><br>
          <% end %>
        </div>
        <p>I'm Hungry</p>
      </div>
    </div>
  </div>
</div>