<div class="home-photo">
  <%= image_tag "test2.png" %>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-6 text-center">
      <h1>Welcome to Food on Rails!</h1>
      <div class="button-center">
        <button data-controller="geolocation" class="btn btn-primary m-3">
          <%= link_to "Choose my meals", meals_path, data: { geolocation_target: "link" } %>
        </button>
        <div class= "btn btn-primary m-3">
          <%= link_to "Let me choose preferences first", preferences_path, class: "" %>
        </div>
      </div>
    </div>
  </div>
</div>
