<% if @choice&.unrated? %>
  <% "it's inside"%>
  <%= render 'shared/modal_rating',  choice: @choice %>
<% end %>
<div class="body">
    <h2>Food on Rails</h2>
  <div class="bg-design">
    <h4>Healthiest Choice in<br><span class="color-red"><strong>Un</strong></span>healthy Situations</h4>
  </div>
    <div class="container-landing">
      <div class="card-landing">
        <div class="btn-landing">
          <%= link_to meals_path(tag: 'Food') do %>
            <i class="fas fa-utensils"></i><br>
          <% end %>
        </div>
        <p class="btn-caption"><strong>I'm Hungry</strong></p>
      </div>
      <div class="card-landing  btn-mrgn-left">
        <div class="btn-landing btn-padding-left">
          <%= link_to meals_path(tag: 'Drinks') do %>
            <i class="fas fa-mug-hot"></i><br>
          <% end %>
        </div>
        <p class="btn-caption"><strong>I'm Thirsty</strong></p>
      </div>
    </div>
  </div>
</div>
