
<% if @choice %>
<%= "it's inside"%>
<%# <button type="button" class="btn btn-secondary card-choice-button" data-toggle="modal" data-target="#exampleModal">GO!</button> %>
<%= render 'shared/modal_google' %>
<%end%>

<div class="container-body">

  <div class="chart-wrap">
    <h3 class="title">Usage</h3>
    <div class="grid horizontal">
      <p id="week">Week</p>
      <div class="bar" data-name="Sunday" title="Sunday">
        <p>1</p>
        <% 3.times do %>
          <div class="burger-container">
            <img src="https://www.clipartmax.com/png/middle/255-2551201_hamburger-fast-food-junk-food-carbonated-drink-computer-burger-icon-png.png" />
          </div>
        <% end %>
      </div>
      <div class="bar" data-name="Monday" title="Monday">
        <p>2</p>
        <div class="burger-container">
          <img src="https://www.clipartmax.com/png/middle/255-2551201_hamburger-fast-food-junk-food-carbonated-drink-computer-burger-icon-png.png" />
        </div>
      </div>
      <div class="bar" data-name="Tuesday" title="Tuesday">
        <p>3</p>
        <% 2.times do %>
          <div class="burger-container">
            <img src="https://www.clipartmax.com/png/middle/255-2551201_hamburger-fast-food-junk-food-carbonated-drink-computer-burger-icon-png.png" />
          </div>
        <% end %>
      </div>
      <div class="bar" data-name="Wednesday" title="Wednesday">
        <p>4</p>
      </div>
      <div class="bar" data-name="Thursday" title="Thursday">
        <p>5</p>
        <% 3.times do %>
          <div class="burger-container">
            <img src="https://www.clipartmax.com/png/middle/255-2551201_hamburger-fast-food-junk-food-carbonated-drink-computer-burger-icon-png.png" />
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <h4 class="center-text">Favorites</h4>
  <div class="dashboard-grid-container">
    <div class="card-detail card-detail-favorites">
      <img src="https://via.placeholder.com/80x60" alt="">
      <p>name<p>
      <p>restaurant</p>
    </div>
    <div class="card-detail card-detail-favorites">
      <img src="https://via.placeholder.com/80x60" alt="">
      <p>name<p>
      <p>restaurant</p>
    </div>
  </div>
  
  <hr>
  <div class="text-center">
    <h4 style="margin-bottom: 64px;">Account</h4>
    <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-secondary" %>
  </div>

</div>
