$card-border-radius: 8px;

// meal index meal cards
.cards-choice {
  width: 100%;
  display: grid;
}
.card-choice{
  height: 100px;
  display: flex;
  align-items: center;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  margin: 8px 0 8px 0;
  position: relative;
  background-color: white;
  border-radius: $card-border-radius;
}

.card-choice-middle {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 22%;
  right: 20%;
  

  .score-success {
    color: #1EDD88;
  }

  .score-warning {
    color: #FFC65A;
  }

  .score-danger {
    color: #FD1015;
  }

  i {
    padding-bottom: 57%;
  }

}

.card-choice img{
  width: 30%;
  height: 100%;
  padding-right: 8px;
  border-radius: $card-border-radius 0 0 $card-border-radius;
}
.card-choice-description h3, .card-choice-description p {
  margin: 0;
}
.card-choice-description h3{
  margin: 0;
  font-size: 1.2em;
}
.card-choice-right {
  margin-left: auto;
  position: relative;
}

.new_choice .btn {
  height: 52px;
  width: 52px;
  border-radius: $card-border-radius;
}

.meals-show-form {

  .show-btn {
    position: absolute;
    border-radius: 50%;
    height: 48px;
    width: 48px;
    top: 8px;
    right: 16px;
    border: 0 solid $primary-brand-color;
    box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
}

// meal show, review, and favorites card templates
/* base design */
.card-detail{
  text-align: center;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  margin: 8px 0 8px 0;
  z-index: -1;

  .show-restaurant {
  position: absolute;
  border-radius: 50%;
  height: 48px;
  width: 48px;
  top: 8px;
  left: 16px;
  border: 0 solid $primary-brand-color;
  box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: $card-border-radius;
  }

}
.card-detail img{
  width: 100%;
  height: 50%;
}

/* meal show */
.card-detail-show h2{
  margin: 0;
  color: white;
  text-align: center;
}

.card-detail-show  p{
  margin: 0;
  color: white;
}

/* meal review */
.card-detail i{
  font-size: 5em;
  padding-top: 8px;
  padding-bottom: 16px;
  color: $primary-brand-color;
}

.card-detail-review-icons{
  display: flex;
  justify-content: space-around;
}

/* meal dashboard favorites */
.scrolling-card {
  display: inline-block;
  height: 150px;
  width: 150px;
  text-align: center;
  justify-content: center;
  margin: 4px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: white;
  border-radius: $card-border-radius;
}
.scrolling-card p{
  margin: 4px;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 136px;
  margin: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: $card-border-radius;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  a{
    text-decoration: none;
    color: white;
  }
}

.goal {
  height: 30%;
}
