.container-body{
  margin: 0 2.5% 0 2.5%;
}

.container-nutritional-info{
  margin: 0 20% 0 20%;
}
.container-nutritional-info h3{
  margin-bottom: 16px;
}

.container-nutrition-graphs {
  display: flex;
  justify-content: space-between;
}
