.dashboard-top {
  display: flex;
  margin-bottom: 16px;
  justify-content: center;  
}

#chart_div {
  margin-top: 8px;
}

#chart_div3 {
  margin-top: 8px;
}

.dashboard-bottom {
  margin-top: 16px;
  height: 280px;
  width: auto;
  display:flex;
  justify-content: space-between;
  padding: 16px 16px 8px 16px;

}
.dashboard-bottom h4{
  text-align:center;
}

.favorites {
}

.fav-card {
  margin-bottom: 8px;
}

// anthony edits
.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.results {
  text-align: center;
}

.row {
  margin-left: auto;
  margin-right: auto;
  margin-top: 7%;
}

.col-6 {
  max-width: 47%;
}

.result-cards {
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;
  margin: 4px;
  width: 112px;
  height: 112px;
  border-radius: 6%;
}

.result-cards p {
  padding-top: 18%;
}

.result-icon img[src*="https://image.flaticon.com/icons/png/512/2599/2599597.png"] {
  width: 40px;
  height: auto;
  bottom: 80%;
  right: 37%;
}

.result-icon img[src*="https://img.icons8.com/ios/452/salt-bae.png"] {
  width: 40px;
  height: auto;
  bottom: 80%;
  right: 38%;
}

.result-icon img[src*="https://icon-library.com/images/muscles_gym_training_protein-512.png"] {
  width: 40px;
  height: auto;
  bottom: 80%;
  right: 38%;
}

.result-icon img {
  position: absolute;
  width: 64px;
  height: auto;
  bottom: 74%;
  right: 32%;
  // filter: grayscale(100%);
  filter: invert(54%) sepia(48%) saturate(3994%) hue-rotate(337deg) brightness(104%) contrast(101%);
}