.dashboard-bottom {
  margin-top: 16px;
  height: 280px;
  width: auto;
  display:flex;
  justify-content: space-between;
  padding: 16px 16px 8px 16px;

}
.dashboard-bottom h4{
  text-align:center;

}

.favorites {

}

.fav-card {
  margin-bottom: 8px;
}