.dashboard-top {
  display: flex;
  margin-bottom: 16px;
  justify-content: center;  
}

#chart_div {
  margin-top: 8px;
}

#chart_div3 {
  margin-top: 8px;
}

.dashboard-bottom {
  margin-top: 16px;
  height: 280px;
  width: auto;
  display:flex;
  justify-content: space-between;
  padding: 16px 16px 8px 16px;

}
.dashboard-bottom h4{
  text-align:center;
}

.favorites {
}

.fav-card {
  margin-bottom: 8px;
}

// anthony edits
.dashboard-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 0px;
}
.dashboard-section-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0px 0px;
  justify-content: center;
}
