.center-text {
  text-align: center;
}
.center-text h2 {
  margin-top: 4px;
}

.heavy-text {
  font-weight: 700;
}

.light-text {
  font-weight: 400;
}

a:active, a:hover {
  color: $primary-brand-color;
}

.btn-primary:hover, .btn:hover, .btn-primary:focus {
  background-color: $secondary-brand-color;
}

.font-align-left {
  text-align: left;
}
