
  .form-login {
    padding: 16px 16px;
    border: 1px solid white;
    margin: 16px;
    background: white;
    border-radius: 3px;
    box-shadow: 1px 1px 2px rgba(30, 30, 30, 0.1);
    h2 {
      font-size: 20px;
      text-align: center;
      font-weight: bold;
      margin-bottom: 20px;
    }
    .btn {
      width: 100%;
      margin-bottom: 16px;
    }

    .btn:hover {
     box-shadow: -3px -3px 7px #88828a;
     background-color: #8205b4;
    }
  }

  hr {
    width: 50%;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .bottom-form {
    font-size: 12px;
    font-style: italic;
  }

  .form-preferences {
    // display: flex;
    // justify-content:space-between;
    margin: 2.5%;
  .btn {
    width: 21%;
  }
  p {
    margin-bottom: 0px;
  }
  }
  .btn:hover {
    box-shadow: -3px -3px 7px #88828a;
    background-color: #8205b4;
  }

  .form-control {
    width: 89%;
  }

  .form-meal {
    display: flex;
    align-items: center;
  }

