.loader{
  position: fixed;
  opacity: 1;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color:$primary-brand-color;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  p {
    color: white;
    font-size: 2rem
  }
  i {
    color: white;
    font-size: 5rem;
  }
}

.loader.loaded{
  opacity: 0;
  z-index: -1;
  transition: 2s 3s;
}

@keyframes disappear {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

.spinner {
  animation: spin 5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: scaleZ(360deg);
  }
}

