#map {
  background-color: $primary-brand-color;
  height: 30vh;
  width: 100%;
  box-shadow:  -3px -3px 5px #823520,
                  3px 3px 5px #f6653e;
}

.marker {
  background-image: url('mapbox-icon.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
