<p><%= Meal.max_calories_meal.calories - @meal.calories %> calories saved!</p>
<% if (Meal.max_calories_meal.calories - @meal.calories) > 800 %>
  <p>Wow! That's the equivalent of running a marathon!</p>
<% elsif (Meal.max_calories_meal.calories - @meal.calories) > 600 %>
  <p>Wow! That's the equivalent of intensive exercise for two hours!</p>
<% elsif (Meal.max_calories_meal.calories - @meal.calories) > 400 %>
  <p>Wow! That's the equivalent of hiking for one hour!</p>
<% end %>
<br>
<p><%= (Meal.max_fat_meal.fat - @meal.fat).round(2) %> grams of Fat saved!</p>
<% if (Meal.max_fat_meal.fat - @meal.fat) > 100 %>
  <p>Wow! That's the equivalent of one whole stick of butter!</p>
<% elsif (Meal.max_fat_meal.fat - @meal.fat) > 50 %>
  <p>Wow! That's the equivalent of one whole cheese pizza!</p>
<% elsif (Meal.max_fat_meal.fat - @meal.fat) > 10 %>
  <p>Wow! That's the equivalent of a pack of sliced cheese!</p>
<% end %>
